<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basics"
        tools:targetApi="31">
        <activity
            android:name=".ContextMenuExample"
            android:exported="true" />
        <activity
            android:name=".FoodDeliveryHomeScreen"
            android:exported="true" />
        <activity
            android:name=".PopUpMenuExample"
            android:exported="true" />
        <activity
            android:name=".LanguageSelection"
            android:exported="true" />
        <activity
            android:name=".CustomAlert"
            android:exported="true" />
        <activity
            android:name=".RatingPage"
            android:exported="true" />
        <activity
            android:name=".RatingApp"
            android:exported="true" />
        <activity
            android:name=".AlertExample"
            android:exported="true" />
        <activity
            android:name=".UITaskScreen1"
            android:exported="true" />
        <activity
            android:name=".CameraPermission"
            android:exported="true" />
        <activity
            android:name=".PermissionsExample"
            android:exported="true" />
        <activity
            android:name=".ShareQuotes"
            android:exported="true" />
        <activity
            android:name=".Sharing"
            android:exported="true" />
        <activity
            android:name=".Welcome"
            android:exported="true" />
        <activity
            android:name=".CA2"
            android:exported="true" />
        <activity
            android:name=".PortfolioFeedbackScreen"
            android:exported="true" />
        <activity
            android:name=".PortfolioHomeScreen"
            android:exported="true" />
        <activity
            android:name=".MenuExample"
            android:exported="true" />
        <activity
            android:name=".ImplicitIntentExample"
            android:exported="true" />
        <activity
            android:name=".LogCatExample"
            android:exported="true" />
        <activity
            android:name=".ExplicitIntentPage"
            android:exported="true" />
        <activity
            android:name=".ImplicitAndExplicitIntent"
            android:exported="true" />
        <activity
            android:name=".LocalisationExample"
            android:exported="true" />
        <activity
            android:name=".SnackBarTaskDetails"
            android:exported="false" />
        <activity
            android:name=".SnackBarTask"
            android:exported="true" />
        <activity
            android:name=".SnackBarExample"
            android:exported="true" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".LoginSuccess"
            android:exported="true" />
        <activity
            android:name=".IntentExample"
            android:exported="true" />
        <activity
            android:name=".CA"
            android:exported="true" />
        <activity
            android:name=".Spinners"
            android:exported="true" />
        <activity
            android:name=".Flower"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayoutExample"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>